AWS_REGION=ap-southeast-1
AWS_DEFAULT_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_ACCESS_KEY
AWS_SESSION_TOKEN=
S3_BUCKET=your-existing-bucket
S3_KEY_PREFIX=selenium-templates
SELENIUM_REMOTE_URL=http://selenium:4444
